.gif_45_001  { background:url('icon_extern/gif_45_001.png' ) no-repeat;}
.gif_45_002  { background:url('icon_extern/gif_45_002.png' ) no-repeat;}
.gif_45_003  { background:url('icon_extern/gif_45_003.png' ) no-repeat;}
.gif_45_004  { background:url('icon_extern/gif_45_004.png' ) no-repeat;}
.gif_45_005  { background:url('icon_extern/gif_45_005.png' ) no-repeat;}
.gif_45_006  { background:url('icon_extern/gif_45_006.png' ) no-repeat;}
.gif_45_007  { background:url('icon_extern/gif_45_007.png' ) no-repeat;}
.gif_45_008  { background:url('icon_extern/gif_45_008.png' ) no-repeat;}
.gif_45_009  { background:url('icon_extern/gif_45_009.png' ) no-repeat;}
.gif_45_010  { background:url('icon_extern/gif_45_010.png' ) no-repeat;}
.gif_45_011  { background:url('icon_extern/gif_45_011.png' ) no-repeat;}
.gif_45_012  { background:url('icon_extern/gif_45_012.png' ) no-repeat;}
.gif_45_013  { background:url('icon_extern/gif_45_013.png' ) no-repeat;}
.gif_45_014  { background:url('icon_extern/gif_45_014.png' ) no-repeat;}
.gif_45_015  { background:url('icon_extern/gif_45_015.png' ) no-repeat;}
.gif_45_016  { background:url('icon_extern/gif_45_016.png' ) no-repeat;}
.gif_45_017  { background:url('icon_extern/gif_45_017.png' ) no-repeat;}
.gif_45_018  { background:url('icon_extern/gif_45_018.png' ) no-repeat;}
.gif_45_019  { background:url('icon_extern/gif_45_019.png' ) no-repeat;}
.gif_45_020  { background:url('icon_extern/gif_45_020.png' ) no-repeat;}
.gif_45_021  { background:url('icon_extern/gif_45_021.png' ) no-repeat;}
.gif_45_022  { background:url('icon_extern/gif_45_022.png' ) no-repeat;}
.gif_45_023  { background:url('icon_extern/gif_45_023.png' ) no-repeat;}
.gif_45_024  { background:url('icon_extern/gif_45_024.png' ) no-repeat;}
.gif_45_025  { background:url('icon_extern/gif_45_025.png' ) no-repeat;}
.gif_45_026  { background:url('icon_extern/gif_45_026.png' ) no-repeat;}
.gif_45_027  { background:url('icon_extern/gif_45_027.png' ) no-repeat;}
.gif_45_028  { background:url('icon_extern/gif_45_028.png' ) no-repeat;}
.gif_45_029  { background:url('icon_extern/gif_45_029.png' ) no-repeat;}
.gif_45_030  { background:url('icon_extern/gif_45_030.png' ) no-repeat;}
.gif_45_031  { background:url('icon_extern/gif_45_031.png' ) no-repeat;}
.gif_45_032  { background:url('icon_extern/gif_45_032.png' ) no-repeat;}
.gif_45_033  { background:url('icon_extern/gif_45_033.png' ) no-repeat;}
.gif_45_034  { background:url('icon_extern/gif_45_034.png' ) no-repeat;}
.gif_45_035  { background:url('icon_extern/gif_45_035.png' ) no-repeat;}
.gif_45_036  { background:url('icon_extern/gif_45_036.png' ) no-repeat;}
.gif_45_037  { background:url('icon_extern/gif_45_037.png' ) no-repeat;}
.gif_45_038  { background:url('icon_extern/gif_45_038.png' ) no-repeat;}
.gif_45_039  { background:url('icon_extern/gif_45_039.png' ) no-repeat;}
.gif_45_040  { background:url('icon_extern/gif_45_040.png' ) no-repeat;}
.gif_45_041  { background:url('icon_extern/gif_45_041.png' ) no-repeat;}
.gif_45_042  { background:url('icon_extern/gif_45_042.png' ) no-repeat;}
.gif_45_043  { background:url('icon_extern/gif_45_043.png' ) no-repeat;}
.gif_45_044  { background:url('icon_extern/gif_45_044.png' ) no-repeat;}
.gif_45_045  { background:url('icon_extern/gif_45_045.png' ) no-repeat;}
.gif_45_046  { background:url('icon_extern/gif_45_046.png' ) no-repeat;}
.gif_45_047  { background:url('icon_extern/gif_45_047.png' ) no-repeat;}
.gif_45_048  { background:url('icon_extern/gif_45_048.png' ) no-repeat;}
.gif_45_049  { background:url('icon_extern/gif_45_049.png' ) no-repeat;}
.gif_45_050  { background:url('icon_extern/gif_45_050.png' ) no-repeat;}
.gif_45_051  { background:url('icon_extern/gif_45_051.png' ) no-repeat;}
.gif_45_052  { background:url('icon_extern/gif_45_052.png' ) no-repeat;}
.gif_45_053  { background:url('icon_extern/gif_45_053.png' ) no-repeat;}
.gif_45_054  { background:url('icon_extern/gif_45_054.png' ) no-repeat;}
.gif_45_055  { background:url('icon_extern/gif_45_055.png' ) no-repeat;}
.gif_45_056  { background:url('icon_extern/gif_45_056.png' ) no-repeat;}
.gif_45_057  { background:url('icon_extern/gif_45_057.png' ) no-repeat;}
.gif_45_058  { background:url('icon_extern/gif_45_058.png' ) no-repeat;}
.gif_45_059  { background:url('icon_extern/gif_45_059.png' ) no-repeat;}
.gif_45_060  { background:url('icon_extern/gif_45_060.png' ) no-repeat;}
.gif_45_061  { background:url('icon_extern/gif_45_061.png' ) no-repeat;}
.gif_45_062  { background:url('icon_extern/gif_45_062.png' ) no-repeat;}
.gif_45_063  { background:url('icon_extern/gif_45_063.png' ) no-repeat;}
.gif_45_064  { background:url('icon_extern/gif_45_064.png' ) no-repeat;}
.gif_45_065  { background:url('icon_extern/gif_45_065.png' ) no-repeat;}
.gif_45_066  { background:url('icon_extern/gif_45_066.png' ) no-repeat;}
.gif_45_067  { background:url('icon_extern/gif_45_067.png' ) no-repeat;}
.gif_45_068  { background:url('icon_extern/gif_45_068.png' ) no-repeat;}
.gif_45_069  { background:url('icon_extern/gif_45_069.png' ) no-repeat;}
.gif_45_070  { background:url('icon_extern/gif_45_070.png' ) no-repeat;}
.gif_45_071  { background:url('icon_extern/gif_45_071.png' ) no-repeat;}
.gif_45_072  { background:url('icon_extern/gif_45_072.png' ) no-repeat;}
.gif_45_073  { background:url('icon_extern/gif_45_073.png' ) no-repeat;}
.gif_45_074  { background:url('icon_extern/gif_45_074.png' ) no-repeat;}
.gif_45_075  { background:url('icon_extern/gif_45_075.png' ) no-repeat;}
.gif_45_076  { background:url('icon_extern/gif_45_076.png' ) no-repeat;}
.gif_45_077  { background:url('icon_extern/gif_45_077.png' ) no-repeat;}
.gif_45_078  { background:url('icon_extern/gif_45_078.png' ) no-repeat;}
.gif_45_079  { background:url('icon_extern/gif_45_079.png' ) no-repeat;}
.gif_45_080  { background:url('icon_extern/gif_45_080.png' ) no-repeat;}
.gif_45_081  { background:url('icon_extern/gif_45_081.png' ) no-repeat;}
.gif_45_082  { background:url('icon_extern/gif_45_082.png' ) no-repeat;}
.gif_45_083  { background:url('icon_extern/gif_45_083.png' ) no-repeat;}
.gif_45_084  { background:url('icon_extern/gif_45_084.png' ) no-repeat;}
.gif_45_085  { background:url('icon_extern/gif_45_085.png' ) no-repeat;}
.gif_45_086  { background:url('icon_extern/gif_45_086.png' ) no-repeat;}
.gif_45_087  { background:url('icon_extern/gif_45_087.png' ) no-repeat;}
.gif_45_088  { background:url('icon_extern/gif_45_088.png' ) no-repeat;}
.gif_45_089  { background:url('icon_extern/gif_45_089.png' ) no-repeat;}
.gif_45_090  { background:url('icon_extern/gif_45_090.png' ) no-repeat;}
.gif_45_091  { background:url('icon_extern/gif_45_091.png' ) no-repeat;}
.gif_45_092  { background:url('icon_extern/gif_45_092.png' ) no-repeat;}
.gif_45_093  { background:url('icon_extern/gif_45_093.png' ) no-repeat;}
.gif_45_094  { background:url('icon_extern/gif_45_094.png' ) no-repeat;}
.gif_45_095  { background:url('icon_extern/gif_45_095.png' ) no-repeat;}
.gif_45_096  { background:url('icon_extern/gif_45_096.png' ) no-repeat;}
.gif_45_097  { background:url('icon_extern/gif_45_097.png' ) no-repeat;}
.gif_45_098  { background:url('icon_extern/gif_45_098.png' ) no-repeat;}
.gif_45_099  { background:url('icon_extern/gif_45_099.png' ) no-repeat;}
.gif_45_100  { background:url('icon_extern/gif_45_100.png' ) no-repeat;}
.gif_45_101  { background:url('icon_extern/gif_45_101.png' ) no-repeat;}
.gif_45_102  { background:url('icon_extern/gif_45_102.png' ) no-repeat;}
.gif_45_103  { background:url('icon_extern/gif_45_103.png' ) no-repeat;}
.gif_45_104  { background:url('icon_extern/gif_45_104.png' ) no-repeat;}
.gif_45_105  { background:url('icon_extern/gif_45_105.png' ) no-repeat;}
.gif_45_106  { background:url('icon_extern/gif_45_106.png' ) no-repeat;}
.gif_45_107  { background:url('icon_extern/gif_45_107.png' ) no-repeat;}
.gif_45_108  { background:url('icon_extern/gif_45_108.png' ) no-repeat;}
.gif_45_109  { background:url('icon_extern/gif_45_109.png' ) no-repeat;}
.gif_45_110  { background:url('icon_extern/gif_45_110.png' ) no-repeat;}
   