html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
/*img{width:100%}*/
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}

table { border-collapse: collapse; border-spacing: 0; }
a { color: #000; text-decoration: none; }
    a:focus { outline: 0 none; }
    a:active, a:hover { outline: 0 none; }
    a:hover { text-decoration: none; }
img { border: none;/* pointer-events: none; */}
ul { list-style-type: none; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
